body {
  background-image: url("../imgs/bg.jpg");
}
table th {
  text-align: center;
  font-weight: bold;
}
table tr,
table th,
table td {
  border: 1px solid white;
}
table th {
  background-color: rgb(247, 227, 113);
}
table th,
table td {
  padding: 5px;
}
.container {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
#randomNumberTbl {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.btn {
  text-align: center;
  margin: 0px auto;
}
.numberCol {
  text-align: right;
  font-weight: bold;
  color: white;
}
.txt {
  width: 90%;
  padding: 5px;
}
.rowError {
  background-color: #ff8989;
}
.rowSuccess {
  background-color: #7fce67;
}
.hide {
  display: none;
}
input:checked ~ table {
  opacity: 0;
  visibility: hidden;
}
table {
  transition: 2.5s;
}
.hideTableCk {
  color: white;
}
