<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>- - - English App (Author: Rice Bee)- - -</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/cardialOridinalNumber.css">

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../../Models/cardialOridinalNumber.js"></script>
    <script src="../../Controllers/cardialOridinalNumberController.js" async defer></script>

    <div class="body">
        <div class="containner">
            <button class="btn" id="randomNumberBtn" title="Random Number">Random Number</button>
            <table id="randomNumberTbl">
                <tr>
                    <th>Number</th>
                    <th>Cardinal Number</th>
                    <th>Ordinal Number</th>
                    <th>Acronym</th>
                </tr>
                <tr>
                    <td class="numberCol">
                        <label id="numberLbl_1">12</label>
                    </td>
                    <td>
                        <input class="txt" id="cardinalNumberTxt_1">
                    </td>
                    <td>
                        <input class="txt" id="ordinalNumberTxt_1">
                    </td>
                    <td>
                        <input class="txt" id="acronymTxt_1">
                    </td>
                </tr>
                <tr>
                    <td class="numberCol">
                        <label id="numberLbl_2"></label>
                    </td>
                    <td>
                        <input class="txt" id="cardinalNumberTxt_2">
                    </td>
                    <td>
                        <input class="txt" id="ordinalNumberTxt_2">
                    </td>
                    <td>
                        <input class="txt" id="acronymTxt_2">
                    </td>
                </tr>
                <tr>
                    <td class="numberCol">
                        <label id="numberLbl_3"></label>
                    </td>
                    <td>
                        <input class="txt" id="cardinalNumberTxt_3">
                    </td>
                    <td>
                        <input class="txt" id="ordinalNumberTxt_3">
                    </td>
                    <td>
                        <input class="txt" id="acronymTxt_3">
                    </td>
                </tr>
            </table>
            <button class="btn" id="checkResultBtn" title="Check Result">Check Result</button>
        </div>
    </div>
</body>

</html>