<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>- - - English App (Author: Rice Bee)- - -</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="../../assets/styles/cardinalOrdinalNumber.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.css"
    />
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <script src="../../business/plugins/jquery-1.9.1.min.js"></script>
    <script src="../../business/plugins/moments/moment.js"></script>

    <script src="../../models/numberModel.js"></script>
    <script src="../../business/utilities/utilities.js"></script>
    <script src="../../business/constants/numberConstant.js"></script>
    <script src="../../business/repositories/numberRepository.js"></script>
    <script src="../../business/services/numberService.js"></script>
    <script src="../../business/controllers/numberController.js"></script>

    <div class="body">
      <div class="container">
        <div class="actionWrapper">
          <div class="actionLeft">
            <select id="typeSelect">
              <option value="number">Random Number</option>
              <option value="date">Random Date</option>
              <option value="telling_the_time">Random Telling The Time</option>
            </select>
            <button class="btn" id="randomBtn" title="Random">
              <i class="fa fa-random" aria-hidden="true"></i> Random
            </button>
            <button class="btn" id="completedBtn" title="Completed">
              <i class="fa fa-check" aria-hidden="true"></i> Completed
            </button>
          </div>
          <div class="actionRight">
            <span>Score: </span>
            <label id="scoreLbl">-</label>
          </div>
          <!-- <input type="checkbox" /> <span class="hideTableCk">Hide Table</span> -->
        </div>
        <table id="randomNumberTbl">
          <tr>
            <th id="firstTh" class="firstColumn">Number</th>
            <th id="secondTh" class="secondColumn">Cardinal Number</th>
            <th id="thirdTh" class="thirdColumn">Ordinal Number</th>
            <th id="fourTh" class="fourthColumn">Acronym</th>
          </tr>
          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
              <!-- <input class="txt" id="numberTxt_1"> -->
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>
          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>
          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>

          <tr>
            <td class="firstColumn">
              <label class="lbl"></label>
              <input type="hidden" class="hdf" />
            </td>
            <td class="secondColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="thirdColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
            <td class="fourthColumn">
              <input class="txt" />
              <label class="errorLbl hide"></label>
            </td>
          </tr>
        </table>
        <!-- <button class="btn" id="checkResultBtn" title="Check Result">Check Result</button> -->
      </div>
    </div>
  </body>
</html>
