<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn CSS</title>
    <link
      rel="stylesheet"
      href="../../assets/styles/learn-css.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../../assets/styles/reset-css.css" />
  </head>
  <body>
    <header>
      <h1>CSS Selectors</h1>
    </header>
    <ul class="menu" id="menu">
      <li>
        <a href="#border">border</a>
      </li>
      <li><a href="#boxModel">Box Model</a></li>
      <li><a href="#fruit">Fruit</a></li>
      <li><a href="#animal">Animal</a></li>
      <li><a href="#flower">Flower</a></li>
      <li><a href="#fashion">Fashion</a></li>
      <li><a href="#technologies">Technologies</a></li>
    </ul>
    <article id="boxModel" class="boxModel">
      <h2>Box Model</h2>
      <div class="parent">
        Parent
        <div class="child">Child</div>
      </div>
      <div class="container">
        <img
          src="../../assets/images/pngtree-carambole-png-image_1947213.jpg"
          alt="carambole"
        />
        <img
          src="../../assets/images/pngtree-coconut-summer-fruit-cartoon-png-image_4689878.jpg"
          alt="coconut"
        />
        <img
          src="../../assets/images/pngtree-cute-orange-fruit-cartoon-blushing-png-image_6709372.jpg"
          alt="orange"
        />
        <img
          src="../../assets/images/pngtree-fruit-cartoon-pattern-cantaloupe-icon-png-image_4730847.jpg"
          alt="cantaloupe"
        />
        <img
          src="../../assets/images/pngtree-hand-drawn-yellow-mango-fruit-cartoon-png-image_4492272.jpg"
          alt="mango"
        />
      </div>
      <!-- <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eius
          <br />
          Lorem sit amet consectetur adipisicing elit. Iure, eius. <br />
          Lorem ipsum dolor, sit amet consectetur adipisicing. Lorem ipsum
          dolor, sit <br />
          adipisicing elit. Iure, eius. Lorem ipsum dolor, sit elit. Iure, eius.
          <br />
        </p>
        <img src="../../assets/images/bg.jpg" alt="what do you need?" />
      </div> -->
      <!-- <p>Box Model 1</p>
      <p>Box Model 2</p>
      <p>Box Model 3</p> -->
    </article>
    <article class="border">
      <h2 id="border">Border H2 - <a href="#menu">Scroll Top</a></h2>
      <div>I have borders on all sides.</div>
      <div>I have a red bottom border</div>
      <div>I have round border</div>
      <div>I have a blue left border</div>
      <div>I have a green top border</div>
      <div>I have a purple right border</div>
      <div>I have a tomato bottom border</div>
      <div>I have borders on all dotted</div>
      <div>I have borders on all dashed</div>
      <div>I have borders on all double</div>
      <div>I have borders on all groove</div>
      <div>I have borders on all ridge</div>
      <div>I have borders on all inset</div>
      <div>I have borders on all outset</div>
      <div>I have borders hidden</div>
      <div>I have borders none</div>
      <div>I have top border: dotted dashed solid double</div>
    </article>
    <article>
      <h2 id="fruit">Fruit H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Fruit paragraph</p>
      <ul>
        <li class="demo">apple</li>
        <li class="intro demo">banana</li>
        <li>durian</li>
        <li>pear</li>
      </ul>
    </article>
    <article>
      <h2 id="animal">Animal H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Animal paragraph</p>
      <ul>
        <li title="testing">quail</li>
        <li class="demo">dinosaur</li>
        <li class="demo intro">squirrel</li>
        <li>Tiger</li>
      </ul>
    </article>
    <article>
      <h2 id="flower">Flower H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Flower paragraph</p>
      <ul>
        <li title="testing-abc">roses</li>
        <li>lotus</li>
        <li>tulips</li>
      </ul>
    </article>

    <article>
      <h2 id="fashion">Fashion H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Fashion paragraph</p>
      <ul>
        <li>hat</li>
        <li>shoes</li>
        <li>slippers</li>
      </ul>
    </article>
    <article>
      <h2 id="technologies">
        Technologies H2 - <a href="#menu">Scroll Top</a>
      </h2>
      <p>Technologies paragraph 1</p>
      <p>Technologies paragraph 2</p>
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>Jquery</li>
        <li>React JS</li>
        <li>React Native</li>
      </ul>
    </article>
    <article><p class="sports" title="sports">Sports</p></article>
    <article><label>Label</label></article>
    <article>
      <div>
        <p>Paragraph not direct child of article</p>
        <h2>H2 below Paragraph</h2>
      </div>
    </article>
    <p class="color" style="color: Teal">Color</p>
    <p><a href="#into">A Not Link</a></p>
    <p><a href="#menu">Scroll Top</a></p>
  </body>
</html>
