<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn CSS</title>
    <link
      rel="stylesheet"
      href="../../assets/styles/learn-css.css"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <h1>CSS Selectors</h1>
    </header>
    <ul class="menu" id="menu">
      <li><a href="#fruit">Fruit</a></li>
      <li><a href="#animal">Animal</a></li>
      <li><a href="#flower">Flower</a></li>
      <li><a href="#vehicle">Vehicle</a></li>
      <li><a href="#fashion">Fashion</a></li>
      <li><a href="#technologies">Technologies</a></li>
    </ul>
    <article>
      <h2 id="fruit">Fruit H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Fruit paragraph</p>
      <ul>
        <li class="demo">apple</li>
        <li class="intro demo">banana</li>
        <li>durian</li>
        <li>pear</li>
      </ul>
    </article>
    <article>
      <h2 id="animal">Animal H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Animal paragraph</p>
      <ul>
        <li title="testing">quail</li>
        <li class="demo">dinosaur</li>
        <li class="demo intro">squirrel</li>
        <li>Tiger</li>
      </ul>
    </article>
    <article>
      <h2 id="flower">Flower H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Flower paragraph</p>
      <ul>
        <li title="testing-abc">roses</li>
        <li>lotus</li>
        <li>tulips</li>
      </ul>
    </article>
    <article>
      <h2 id="vehicle">Vehicle H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Vehicle paragraph</p>
      <ul>
        <li title="abc-testing">car</li>
        <li title="abctesting">motorbike</li>
        <li>bicycle</li>
      </ul>
    </article>
    <article>
      <h2 id="fashion">Fashion H2 - <a href="#menu">Scroll Top</a></h2>
      <p>Fashion paragraph</p>
      <ul>
        <li>hat</li>
        <li>shoes</li>
        <li>slippers</li>
      </ul>
    </article>
    <article>
      <h2 id="technologies">
        Technologies H2 - <a href="#menu">Scroll Top</a>
      </h2>
      <p>Technologies paragraph 1</p>
      <p>Technologies paragraph 2</p>
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>Jquery</li>
        <li>React JS</li>
        <li>React Native</li>
      </ul>
    </article>
    <article><p class="sports" title="sports">Sports</p></article>
    <article><label>Label</label></article>
    <article>
      <div>
        <p>Paragraph not direct child of article</p>
        <h2>H2 below Paragraph</h2>
      </div>
    </article>
    <p class="color" style="color: Teal">Color</p>
    <p><a href="#into">A Not Link</a></p>
    <p><a href="#menu">Scroll Top</a></p>
  </body>
</html>
