<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn CSS</title>
    <link rel="stylesheet" href="../../assets/styles/reset-css.css" />
    <link
      rel="stylesheet"
      href="../../assets/styles/learn-css.css"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <h1>CSS Selectors</h1>
    </header>
    <div class="container">
      <section class="first_box">
        Box First - Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Molestias distinctio natus non veniam dignissimos, esse dolores
        accusantium laborum pariatur eius itaque temporibus voluptate cum et sed
        repellat nam laudantium ex. Labore, sint sequi laborum porro iusto
        libero rem, quisquam deserunt pariatur recusandae explicabo! Laboriosam
        cupiditate et, numquam nihil possimus consequatur quos incidunt enim
        cumque quis praesentium libero, impedit beatae exercitationem. Commodi
        perferendis fugiat consequatur earum? Nisi eum at deserunt adipisci
        necessitatibus obcaecati expedita provident magnam suscipit, officia,
        nesciunt eius omnis possimus impedit non, nihil libero neque modi.
        Ducimus, id saepe. Voluptate molestias, similique nam dolor est eveniet
        inventore omnis explicabo nostrum consequuntur? Illo odio officia
        ratione temporibus ut earum quaerat laborum quis, possimus molestias
        distinctio dolorum sed natus debitis explicabo? Illo pariatur reiciendis
        cupiditate in aliquid voluptatibus explicabo libero ipsa corrupti,
        expedita maiores iste, blanditiis doloribus, ut quisquam modi
        aspernatur. Eaque, repudiandae culpa error eius sit commodi et quia
        tenetur! Ipsa ut corrupti aliquam quo reiciendis iste quas magnam
        beatae. Tempora eos velit quaerat iste illo quo eius nisi commodi
        tenetur, veniam cum expedita nobis possimus vero laborum natus soluta.
        Fuga aliquam quibusdam accusamus suscipit modi nam exercitationem. Enim
        accusamus ad, porro tenetur iusto eos doloremque optio pariatur
        molestiae dicta corporis repellendus recusandae laborum tempora! Eveniet
        architecto sunt ipsum distinctio! Neque, perspiciatis fuga unde corrupti
        nam fugiat accusantium veniam, reprehenderit placeat, veritatis eaque
        vitae consequuntur at dignissimos illo distinctio. Excepturi, ea
        asperiores nesciunt mollitia blanditiis cumque nihil quisquam
        praesentium iusto. Placeat vero accusantium beatae veritatis. Veniam at
        quia incidunt numquam, officia velit officiis modi repellat, et
        assumenda cumque sunt ipsa voluptatibus vero provident alias distinctio
        odit. Aut saepe ab exercitationem. Doloremque, odio expedita! Qui
        mollitia magni repudiandae minima quos enim recusandae, id asperiores
        ut, exercitationem nesciunt, laborum optio numquam consectetur itaque
        sapiente. Error consequuntur corporis quo, neque quae numquam mollitia.
        Id adipisci quam fugit aperiam doloremque eius magnam ab nihil quae
        laborum nobis eligendi blanditiis vero minima sint nam maxime nisi
        ducimus, perferendis consequuntur officiis. Laborum quo dolores velit
        facere! Maiores voluptates sunt nulla dolorem, labore quis saepe in
        tempore dolores deleniti officiis pariatur atque perferendis. Temporibus
        quia odit officia, voluptates distinctio perspiciatis exercitationem
        ducimus voluptas vero facilis eius ad. Sit dolore vel natus, dolores,
        rerum odio veritatis excepturi assumenda iusto perspiciatis ullam
        debitis totam ea fugiat blanditiis nesciunt obcaecati quaerat? Enim
        assumenda eum fuga nemo error nesciunt quos impedit! Odit nulla debitis
        officiis impedit dolorem. Nobis laudantium, esse facere consectetur
        aliquam perspiciatis exercitationem quo in perferendis necessitatibus
        expedita eos. Tempore obcaecati alias, cupiditate voluptatum aspernatur
        in cumque architecto non? Libero, provident earum inventore dolore
        aliquam molestiae pariatur quis, adipisci reprehenderit qui id. Eligendi
        exercitationem nisi, amet aperiam tempore delectus consequatur nostrum,
        itaque, doloribus animi a? Facere sunt sit adipisci! Blanditiis facilis
        temporibus doloribus exercitationem dolorum fugit cumque atque ratione?
        Facilis dolore voluptatum dignissimos in? Temporibus soluta modi in ex
        numquam nesciunt alias recusandae earum excepturi. Nulla voluptates
        blanditiis sequi! Illo sunt, a nihil culpa reiciendis sint, architecto
        quisquam aut dolore nemo voluptatem voluptas iste adipisci numquam
        accusamus dolorem natus fugiat nesciunt porro doloremque? Ducimus,
        fugiat quod? Nulla, iste inventore. Repudiandae cumque tempore
        aspernatur quas fugiat ratione? Deserunt sapiente quod ad? Similique
        nobis, quos deleniti natus voluptas, iste alias odit, distinctio magni
        dolore eum voluptatem asperiores! Voluptate assumenda libero porro. At,
        nam dignissimos. Delectus dolorum reiciendis incidunt distinctio ipsa
        consequuntur nisi reprehenderit facere eos? Officiis maiores quae,
        sequi, est aperiam temporibus nisi neque maxime veniam, soluta quia
        nobis quos saepe. Corporis libero aliquam nihil laborum vero delectus,
        molestiae ea, neque ab veniam aliquid maiores quas dolor et quis tempore
        minima ad vel ipsam consectetur sit. Eligendi veritatis nisi ullam
        debitis.
      </section>
      <section class="second_box">
        Box Second: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nobis est maxime saepe dolores in ea eveniet. Recusandae voluptate nam
        ducimus alias officiis mollitia, necessitatibus beatae a reiciendis,
        ipsa id dolorum. Expedita vitae, perspiciatis molestiae amet iusto
        dolore cumque mollitia ipsam natus, dignissimos, recusandae vel
        consectetur maxime et enim unde? Dolores delectus ullam iure natus
        incidunt officiis! Vel voluptates reiciendis molestias! Cum at,
        doloremque a quaerat commodi iste quis voluptates nemo distinctio, ex
        culpa dolores quos molestiae impedit quae, magnam exercitationem
        asperiores officiis assumenda architecto. Aperiam esse eveniet
        repellendus blanditiis quaerat! Iusto provident sequi, ullam minima
        sapiente cumque ut temporibus! Quidem nemo, dolores vitae illo officiis
        aut! Neque perspiciatis aliquam reiciendis quas totam aperiam quaerat
        delectus sunt placeat! Voluptatibus, aspernatur corrupti! Incidunt,
        consectetur. Quaerat suscipit soluta saepe a. Debitis possimus dolore
        minima vel? Iste impedit eius repellendus qui tempore. Dicta dolorem quo
        consectetur natus obcaecati molestias? Porro laudantium itaque vel cum!
        Sunt perspiciatis atque deserunt non molestias id ab quo facere ratione
        mollitia cumque beatae sapiente quibusdam, cupiditate impedit! Quas nam
        tempore dolores nemo, sed error natus maxime quibusdam molestias aut?
        Quasi officia blanditiis eveniet voluptatibus obcaecati cum debitis.
        Fugit at quo blanditiis, totam non fuga animi culpa praesentium nisi
        optio eaque dolore unde nam? Maiores molestiae tempore suscipit magnam
        corporis. Ipsum quaerat provident ratione officiis eveniet labore
        consectetur quam suscipit, in reiciendis enim aperiam sit cupiditate
        molestias, modi expedita debitis tempore nisi voluptatum repellat
        dolorem id assumenda dolore. Ut, natus? Tempora enim cum facilis soluta
        minima repudiandae quaerat, accusamus reiciendis quibusdam fugit. Cumque
        veniam voluptatum est natus error, ipsa explicabo. Dolorum repellendus
        doloribus possimus nesciunt repellat laborum sit error placeat!
        Voluptates quia voluptatem, autem facere molestiae hic rerum totam
        dolor! Minima vitae et perferendis numquam dolorum est architecto.
        Voluptates itaque blanditiis, voluptatem nesciunt voluptate quidem
        consequuntur quaerat dolorem perferendis sequi! Architecto natus officia
        distinctio accusamus nobis, minus, fugiat facilis non ratione ducimus
        maiores dolorum enim expedita animi rem? Sit, tenetur architecto? Libero
        iste in repellendus enim voluptates ducimus facere deserunt? Esse porro
        maiores id dolorem. Officia velit, omnis minus reprehenderit sit
        laboriosam expedita quo praesentium quam aperiam placeat eveniet
        doloribus atque fugit, repudiandae facere a temporibus itaque eum amet
        quaerat! Reprehenderit illum consectetur iusto perspiciatis magni? Quae
        cumque saepe iste nesciunt at assumenda reiciendis ex unde praesentium
        recusandae! Deserunt nam magnam odit doloribus ut blanditiis porro ab
        assumenda eveniet. Doloribus? Maiores esse sapiente modi corrupti iste
        facilis dolor enim quibusdam? Placeat sequi deleniti voluptates optio
        impedit amet hic vero nam ex cum necessitatibus doloremque
        reprehenderit, suscipit accusamus quidem quasi voluptatibus? Commodi
        odit aliquam iste maiores, autem ex error quia impedit? Ea, earum!
        Tempora totam cupiditate culpa libero id beatae laboriosam porro quae
        expedita qui debitis, velit sint voluptatem eveniet? Nemo? Error
        necessitatibus vel in cupiditate velit nobis eveniet nemo sint voluptate
        iusto saepe, veniam beatae consectetur laboriosam nesciunt alias
        asperiores odit repellendus. Et sequi culpa, neque odio hic facere. At?
        Praesentium dolorem suscipit, nostrum soluta eius harum perferendis,
        voluptates laboriosam sed esse cupiditate omnis repellat labore aut
        fugit officia et dolor velit debitis beatae quasi quidem maiores maxime?
        Culpa, vero! Consequuntur laboriosam magnam nesciunt sint voluptas cum!
        Rem laborum, quaerat officia impedit similique asperiores hic tenetur
        labore quia culpa. Quisquam rerum reiciendis aliquam? Necessitatibus,
        iure dolor illum id voluptates quisquam? Praesentium inventore sunt
        repudiandae quidem atque culpa delectus, corporis tempora tempore,
        perferendis impedit natus commodi ad fugit totam animi expedita
        assumenda officia asperiores veniam. Alias quae illo quam vero beatae.
        Reprehenderit sapiente quis, minima dolorum laborum, nobis magni autem
        modi minus vitae ea corporis ex, non facere explicabo odio in voluptatum
        inventore esse! Eaque repudiandae culpa sapiente minima ullam dolores.
      </section>
      <section class="third_box">
        Third Box: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Doloribus laudantium iure maiores beatae, porro inventore facere
        molestias facilis sint blanditiis minus quibusdam ducimus necessitatibus
        quo! Neque numquam possimus earum. Velit. Quam molestias dolore, optio,
        consequuntur vel assumenda tenetur, quaerat placeat tempora vero omnis
        eaque libero cum voluptates inventore blanditiis itaque tempore
        exercitationem autem aliquam perferendis sapiente maxime. Voluptatum,
        aperiam nisi? Laborum nisi, sed illo fugiat incidunt rem ad voluptate
        eum, illum pariatur beatae rerum facere non ex maxime voluptas, nobis
        doloribus optio dolor aliquid enim ratione eos labore? Enim, cum. Beatae
        eaque maiores eveniet ex obcaecati corporis earum ullam magnam quibusdam
        vero autem, culpa possimus voluptas aperiam exercitationem fugiat, ut
        harum delectus saepe veritatis at. Doloribus quisquam commodi quam
        eveniet? Beatae ea hic, dicta debitis nihil, aliquid incidunt illum est
        nam ratione temporibus nesciunt praesentium voluptatem amet esse et.
        Voluptate dolorum laboriosam repudiandae, aliquam qui deleniti dolor
        incidunt quos facilis. Voluptates ad totam esse numquam molestiae
        voluptate hic reiciendis omnis, deserunt magni blanditiis aspernatur ab
        repellendus dicta nihil. Illo, cupiditate. Itaque, iste magni. Ab
        maiores numquam aperiam earum id facilis. Non architecto nostrum
        obcaecati nemo eos a, eum doloremque commodi ullam debitis sint maxime
        adipisci corrupti eaque praesentium quidem. Voluptatibus beatae quas
        eius quod nihil rerum incidunt exercitationem. Praesentium, illo! Minus
        explicabo dolorem deserunt illum. Sit perferendis totam nemo vel
        voluptates. Laudantium consequatur hic facilis veniam? Laboriosam
        dolorum, qui id eos molestiae quam hic sequi rem, quae maxime soluta
        expedita? Molestias optio unde alias laboriosam tempora itaque incidunt
        mollitia architecto facilis rem ipsa exercitationem porro provident
        vitae, blanditiis aliquam adipisci fugit eaque neque maiores dicta
        nesciunt temporibus. Commodi, saepe quas. Rem corrupti soluta ad
        suscipit et magnam quidem temporibus fugiat consequatur ea at
        perferendis, amet quia sint voluptatum culpa quos ullam fuga ipsum,
        repellendus quae? Rerum vero unde autem tempore? Minus veritatis iure
        labore odit laborum quod molestias atque eos architecto sequi velit
        facilis, quisquam error at est vitae officiis quia dolorem ad amet
        dolore enim. Quia consectetur aperiam iste. Voluptatum a repellendus et,
        consequuntur asperiores magni veritatis esse modi molestiae ex
        doloremque optio corrupti, quos ducimus quo sapiente incidunt odit
        eligendi aliquid animi praesentium illo! Voluptatem numquam eveniet
        dignissimos. Dolores, veritatis nulla! Ipsam voluptas labore odio. Ut
        aspernatur perspiciatis, magni exercitationem architecto non quos
        dolorum quae fugiat adipisci cum rerum suscipit ad reprehenderit ratione
        earum nulla tenetur aperiam atque! Quidem odit animi excepturi totam
        consequuntur, illo ipsa, dolorum porro enim est doloremque temporibus
        nam delectus. Quo sequi veniam iusto perspiciatis quisquam, consequatur
        temporibus sit reiciendis. Molestiae voluptatem soluta optio. Vero
        doloremque eligendi laboriosam maiores voluptatibus quidem,
        necessitatibus suscipit! Fuga, sint, aperiam ipsum est sapiente dolor
        saepe iste magnam officia, optio tempora! Placeat voluptate earum,
        exercitationem quaerat alias maiores perferendis. Necessitatibus fuga
        odit temporibus error pariatur corporis. Officia nostrum facilis
        aspernatur a unde dolore sunt vero repellendus cumque temporibus earum
        eligendi, totam sequi ducimus perspiciatis, ratione consequuntur
        suscipit explicabo culpa? Exercitationem officia, repellendus
        voluptatem, illum quod ex laborum adipisci commodi inventore aut nam
        quisquam velit odit excepturi tempore. Quod consequatur ducimus
        perferendis libero? Necessitatibus animi soluta maxime. Error, atque
        rerum! Dolor suscipit, nihil doloremque sequi beatae natus totam cum,
        facere, eaque incidunt necessitatibus laudantium in. Ipsam, dolor
        debitis, modi amet itaque ipsa voluptate similique exercitationem beatae
        qui nam corrupti cum. Beatae hic eligendi error dolor quisquam odit,
        molestias temporibus deleniti iusto laborum veritatis fugiat aperiam
        voluptas eius autem quae assumenda praesentium voluptatum, blanditiis
        dolore aliquid consequuntur. Reiciendis commodi voluptatem aperiam. Nisi
        quas natus obcaecati? Perspiciatis sed facilis hic sapiente consequuntur
        illum nemo veniam quod odit. Suscipit necessitatibus incidunt ipsa
        expedita cumque at vero eaque aspernatur quas fugiat? Quis, et officiis.
      </section>
    </div>
  </body>
</html>
