// - - - Begin Answer 1 - - -
/* .box {
  width: 500px;
  height: 350px;
  border: 4px solid tomato;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  background-size: contain;
} */
// - - - End Answer 1 - - -

// - - - Begin Answer 2 - - -
/* .box {
  width: 500px;
  height: 350px;
  border: 1px solid tomato;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  background-size: cover;
} */
// - - - End Answer 2 - - -

// - - - Begin Answer 3 - - -
/* .box {
  width: 500px;
  height: 350px;
  border: 1px solid tomato;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  background-size: 100%;
} */
// - - - End Answer 3 - - -

// - - - Begin Answer 4 - - -
/* .box {
  width: 500px;
  height: 350px;
  border: 1px solid tomato;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  background-size: 50% 100%;
} */
// - - - End Answer 4 - - -

// - - - Begin Answer 5 - - -
/*.box {
  width: 500px;
  height: 350px;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  border: 1px solid tomato;
  background-repeat: no-repeat;
  background-position: top left;
}*/
// - - - End Answer 5 - - -

// - - - Begin Answer 6 - - -
//background-position: top center;
// - - - End Answer 6 - - -

// - - - Begin Answer 7 - - -
//background-position: top right;
// - - - End Answer 7 - - -

// - - - Begin Answer 8 - - -
//background-position: bottom left;
// - - - End Answer 8 - - -

// - - - Begin Answer 9 - - -
//background-position: bottom center;
// - - - End Answer 9 - - -

// - - - Begin Answer 10 - - -
//background-position: bottom right;
// - - - End Answer 10 - - -

// - - - Begin Answer 11 - - -
//background-position: center;
// - - - End Answer 11 - - -

// - - - Begin Answer 12 - - -
/*.box {
  width: 500px;
  height: 350px;
  background-image: url(../images/cartoon-pngtree-monkey-animal-11362466.png);
  border: 1px solid tomato;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}
*/
// - - - Begin Answer 12 - - -
