.box {
  width: 300px;
  height: 300px;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 20px;
  border: 3px double tomato;
}
.box-content {
  width: 500px;
  height: 300px;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  border: 5px dashes teal;
  background-size: cover;
  margin: 20px;
  color: white;
  overflow: auto;
  text-indent: 50px;
  line-height: 25px;
  text-align: justify;
}
.box-content::-webkit-scrollbar {
  width: 8px;
}
.box-content::-webkit-scrollbar-thumb {
  background-color: #4158d0;
  background-image: linear-gradient(
    180deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.box-content::-webkit-scrollbar-thumb:hover {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  cursor: pointer;
}
.box-content::-webkit-scrollbar-thumb,
.box-content::-webkit-scrollbar-track {
  border-radius: 30px;
}
.box-content::-webkit-scrollbar-track {
  background-color: black;
}
