body {
  background-color: #fff6a5;
}
a {
  color: black;
}
h2:target {
  font-size: 40px;
  color: teal;
  font-weight: bold;
  cursor: pointer;
}
.container {
  background-color: cornflowerblue;
  padding: 20px;
  margin-top: 70px;
}
.container img {
  max-width: 120px;
  max-height: 120px;
  padding: 20px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  //box-sizing: content-box;
  //box-sizing: border-box;
  transition: transform 3s;
}
.container img:first-child {
  margin-left: 0px;
}
.container img:hover {
  margin: auto;
  outline: 2px solid coral;
  outline-offset: 10px;
  transform: rotate(360deg);
}
.menu li a {
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: coral;
  border: 1px solid white;
  border-radius: 30px;
}
.menu li a:hover {
  color: coral;
  border-color: coral;
  background-color: white;
}
.parent {
  color: limegreen;
  background-color: pink;
  outline: 5px solid darkcyan;
  margin: 10px;
}

.child {
  color: currentColor;
  background-color: currentColor;
}
/* .parent {
  width: 80vw;
  height: 80vh;
  background-color: aquamarine;
}
.child {
  width: 50vw;
  height: 50vh;
  background-color: chocolate;
} */

/* .container {
  background-color: #8f98ff;
  padding: 15px;
}
.container img {
  width: 120px;
  height: 120px;
  margin-left: -60px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  padding: 15px;
}
.container img:nth-child(1) {
  margin-left: 0px;
}
.container img:hover {
  margin-left: auto;
} *
 

/
/* .container {
  width: 700px;
  margin: 0 auto;
  border: 3px solid tomato;
  text-align: center;
}
.container p {
  font-weight: bold;
  line-height: 2;
}
.container img {
  max-width: 500px;
} */
/* .boxModel p {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
}
.boxModel p:nth-of-type(1) {
  background-color: #33ccff;
  border: 5px solid SaddleBrown;
}
.boxModel p:nth-of-type(2) {
  background-color: #ff9966;
  border: 5px solid SteelBlue;
  margin-left: 170px;
}
.boxModel p:nth-of-type(3) {
  background-color: BlanchedAlmond;
  border: 5px solid DarkViolet;
  margin-left: 340px;
} */

/* p:nth-child(1) {
  color: teal;
} */

/* p[title="sports"] {
  color: teal;
}
p.sports {
  font-size: 40px;
  color: chocolate;
  font-weight: bold;
  cursor: pointer;
} */
/* h2:target {
  color: tomato;
  font-size: 25px;
  font-weight: bold;
}*/

/* article div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
article div:nth-of-type(1) {
  border: 3px solid palevioletred;
}
article div:nth-of-type(2) {
  border-bottom: 5px solid red;
  background-color: bisque;
}
article div:nth-of-type(3) {
  border: 3px solid teal;
  border-radius: 50px;
}
article div:nth-of-type(4) {
  border-left: 5px solid purple;
  background-color: khaki;
}
article div:nth-of-type(5) {
  background-color: pink;
  border-top: 5px dashed green;
}
article div:nth-of-type(6) {
  background-color: paleturquoise;
  border-right: 5px double purple;
}
article div:nth-of-type(7) {
  background-color: lightgreen;
  border-top: 4px dotted teal;
  border-bottom: 4px dotted teal;
}
article div:nth-of-type(8) {
  border: 5px dotted purple;
}
article div:nth-of-type(9) {
  border: 5px dashed blueviolet;
}
article div:nth-of-type(10) {
  border: 5px double tomato;
}
article div:nth-of-type(11) {
  border: 10px groove tomato;
}
article div:nth-of-type(12) {
  border: 10px ridge teal;
}
article div:nth-of-type(13) {
  border: 20px inset teal;
}
article div:nth-of-type(14) {
  border: 20px outset orange;
}
article div:nth-of-type(17) {
  border-style: dotted dashed solid double;
  border-width: 5px;
  border-color: teal;
} */
